@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: url('./img/fundo.png') no-repeat center center fixed;
    background-size: cover;
    color: #333;
  }
  

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.logo h1 {
  font-size: 1.5rem;
  color: #333;
}

.actions {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.entrar {
  background: linear-gradient(to right, #2C8BCA, #79BF45, #FDB215, #F68223, #F13C29, #EF579F);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
}

.criar-conta {
  background-color: #e0e0e0;
  color: #000000;
  font-weight: bold;
}

/* Container Principal */
.container {
  display: flex;
  height: calc(100vh - 80px);
}

/* Seção Esquerda */
.left {
  flex: 1;
  background-size: cover;
  background-position: center;
  position: relative;
}

.left h2 {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 2.5rem;
  max-width: 400px;
}

/* Seção Direita */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-top: 150px;
  margin-left: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.logo-form {
  width: 40px;
  margin-bottom: 10px;
}

.form-box h3 {
  font-size: 1.25rem;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.form-box p {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="email"],
input[type="password"] {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  font-family: 'Raleway';
  font-weight: 500;
}

.password-box {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  color: #777;
}

.continuar {
  background: linear-gradient(45deg, #2C8BCA, #79BF45, #FDB215, #F68223, #F13C29, #EF579F);
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.login-link {
  margin-top: 15px;
  font-size: 0.85rem;
}

.login-link a {
  color: #f857a6;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}